<p id="notice"><%= notice %></p>

<p>
  <strong>Snapeventlistid:</strong>
  <%= @snap_event_list.snapEventListID %>
</p>

<p>
  <strong>Snapeventtype:</strong>
  <%= @snap_event_list.snapEventType %>
</p>

<p>
  <strong>Eventlisttimestamp:</strong>
  <%= @snap_event_list.eventListTimeStamp %>
</p>

<p>
  <strong>Snapevent1:</strong>
  <%= @snap_event_list.snapEvent1 %>
</p>

<p>
  <strong>Snapevent2:</strong>
  <%= @snap_event_list.snapEvent2 %>
</p>

<p>
  <strong>Snapevent3:</strong>
  <%= @snap_event_list.snapEvent3 %>
</p>

<p>
  <strong>Snapevent4:</strong>
  <%= @snap_event_list.snapEvent4 %>
</p>

<p>
  <strong>Snapevent5:</strong>
  <%= @snap_event_list.snapEvent5 %>
</p>

<p>
  <strong>Snapevent6:</strong>
  <%= @snap_event_list.snapEvent6 %>
</p>

<p>
  <strong>Snapevent7:</strong>
  <%= @snap_event_list.snapEvent7 %>
</p>

<p>
  <strong>Snapevent8:</strong>
  <%= @snap_event_list.snapEvent8 %>
</p>

<p>
  <strong>Snapevent9:</strong>
  <%= @snap_event_list.snapEvent9 %>
</p>

<p>
  <strong>Snapevent10:</strong>
  <%= @snap_event_list.snapEvent10 %>
</p>

<%= link_to 'Edit', edit_snap_event_list_path(@snap_event_list) %> |
<%= link_to 'Back', snap_event_lists_path %>
