<p id="notice"><%= notice %></p>

<p>
  <strong>Gameconfigid:</strong>
  <%= @game_config.gameConfigID %>
</p>

<p>
  <strong>Gameid:</strong>
  <%= @game_config.gameID %>
</p>

<p>
  <strong>Gameconfp1:</strong>
  <%= @game_config.gameConfP1 %>
</p>

<p>
  <strong>Gameconfp2:</strong>
  <%= @game_config.gameConfP2 %>
</p>

<p>
  <strong>Gameconfp3:</strong>
  <%= @game_config.gameConfP3 %>
</p>

<p>
  <strong>Gameconfp4:</strong>
  <%= @game_config.gameConfP4 %>
</p>

<p>
  <strong>Gameconfp5:</strong>
  <%= @game_config.gameConfP5 %>
</p>

<p>
  <strong>Gameconfp6:</strong>
  <%= @game_config.gameConfP6 %>
</p>

<p>
  <strong>Gameconfp7:</strong>
  <%= @game_config.gameConfP7 %>
</p>

<p>
  <strong>Gameconfp8:</strong>
  <%= @game_config.gameConfP8 %>
</p>

<p>
  <strong>Gameconfp9:</strong>
  <%= @game_config.gameConfP9 %>
</p>

<p>
  <strong>Gameconfp10:</strong>
  <%= @game_config.gameConfP10 %>
</p>

<%= link_to 'Edit', edit_game_config_path(@game_config) %> |
<%= link_to 'Back', game_configs_path %>
