<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @player_status.playerID %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @player_status.timeStamp %>
</p>

<p>
  <strong>Gamestatus:</strong>
  <%= @player_status.gameStatus %>
</p>

<p>
  <strong>Gameconfigid:</strong>
  <%= @player_status.gameConfigID %>
</p>

<p>
  <strong>Gamelevel:</strong>
  <%= @player_status.gameLevel %>
</p>

<p>
  <strong>Gamescore1:</strong>
  <%= @player_status.gameScore1 %>
</p>

<p>
  <strong>Gamescore2:</strong>
  <%= @player_status.gameScore2 %>
</p>

<p>
  <strong>Gamescore3:</strong>
  <%= @player_status.gameScore3 %>
</p>

<p>
  <strong>Gamescore4:</strong>
  <%= @player_status.gameScore4 %>
</p>

<p>
  <strong>Gamescore5:</strong>
  <%= @player_status.gameScore5 %>
</p>

<p>
  <strong>Gamescore6:</strong>
  <%= @player_status.gameScore6 %>
</p>

<p>
  <strong>Gamescore7:</strong>
  <%= @player_status.gameScore7 %>
</p>

<p>
  <strong>Gamescore8:</strong>
  <%= @player_status.gameScore8 %>
</p>

<p>
  <strong>Gamescore9:</strong>
  <%= @player_status.gameScore9 %>
</p>

<p>
  <strong>Gamescore10:</strong>
  <%= @player_status.gameScore10 %>
</p>

<%= link_to 'Edit', edit_player_status_path(@player_status) %> |
<%= link_to 'Back', player_statuses_path %>
