<p id="notice"><%= notice %></p>

<p>
  <strong>Subscriptionid:</strong>
  <%= @subscription.subscriptionID %>
</p>

<p>
  <strong>Gamesubsr1:</strong>
  <%= @subscription.gameSubsr1 %>
</p>

<p>
  <strong>Subsctype:</strong>
  <%= @subscription.subscType %>
</p>

<p>
  <strong>Gamesubsr1:</strong>
  <%= @subscription.gameSubsr1 %>
</p>

<p>
  <strong>Subsctype:</strong>
  <%= @subscription.subscType %>
</p>

<p>
  <strong>Gamesubsr1:</strong>
  <%= @subscription.gameSubsr1 %>
</p>

<p>
  <strong>Subsctype:</strong>
  <%= @subscription.subscType %>
</p>

<p>
  <strong>Gamesubsr1:</strong>
  <%= @subscription.gameSubsr1 %>
</p>

<p>
  <strong>Subsctype:</strong>
  <%= @subscription.subscType %>
</p>

<p>
  <strong>Gamesubsr1:</strong>
  <%= @subscription.gameSubsr1 %>
</p>

<p>
  <strong>Subsctype:</strong>
  <%= @subscription.subscType %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
