<p id="notice"><%= notice %></p>

<p>
  <strong>Snapshotid:</strong>
  <%= @snapshot.snapshotID %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @snapshot.interval %>
</p>

<p>
  <strong>Firstsnapshot:</strong>
  <%= @snapshot.firstSnapshot %>
</p>

<p>
  <strong>Lastsnapshot:</strong>
  <%= @snapshot.lastSnapshot %>
</p>

<p>
  <strong>Snapshot1:</strong>
  <%= @snapshot.snapshot1 %>
</p>

<p>
  <strong>Snapshot2:</strong>
  <%= @snapshot.snapshot2 %>
</p>

<p>
  <strong>Snapshot3:</strong>
  <%= @snapshot.snapshot3 %>
</p>

<p>
  <strong>Snapshot4:</strong>
  <%= @snapshot.snapshot4 %>
</p>

<p>
  <strong>Snapshot5:</strong>
  <%= @snapshot.snapshot5 %>
</p>

<p>
  <strong>Snapshot6:</strong>
  <%= @snapshot.snapshot6 %>
</p>

<p>
  <strong>Snapshot7:</strong>
  <%= @snapshot.snapshot7 %>
</p>

<p>
  <strong>Snapshot8:</strong>
  <%= @snapshot.snapshot8 %>
</p>

<p>
  <strong>Snapshot9:</strong>
  <%= @snapshot.snapshot9 %>
</p>

<p>
  <strong>Snapshot10:</strong>
  <%= @snapshot.snapshot10 %>
</p>

<%= link_to 'Edit', edit_snapshot_path(@snapshot) %> |
<%= link_to 'Back', snapshots_path %>
